<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phurin's cuisine</title>
    <!-- box icon link -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@lastest/css/boxicons.min.css">

    <!-- remix icons link -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />

    <!-- google font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">


    <!-- link css -->
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
    <!-- header -->
    <%- include('./../components/navbar') %>

    <!-- hero -->
    <section class="hero">
    
        <div class="hero-container">
           <div class="hero-text">
            <h1>Teptud Der Esturant</h1>
           </div>
            
        </div>

    </section>

    <!-- store -->
    <section class="store">
        <div class="center-text">
            <h6>Let’s us serve you for tonight.</h6>
            
        </div>

        <div class="store-content">
            <div class="col">
                <div class="col-img">
                    <img src="assets/shop001-removebg-.png" alt="">
                </div>

                <div class="col-text">
                    <h4>Aurum</h4>
                    <p>Enjoy a friendly 5 menu course.</p>
                </div>
            </div>

            <div class="col">
                <div class="col-img">
                    <img src="assets/shop002-removebg-.png" alt="">
                </div>

                <div class="col-text">
                    <h4>Smaragdus</h4>
                    <p>Enjoy a long dinner night with 7  quality course.</p>
                </div>
            </div>
            <div class="col">
                <div class="col-img">
                    <img src="assets/shop003-removebg-.png" alt="">
                </div>

                <div class="col-text">
                    <h4>Iaspis</h4>
                    <p>Enjoy the night with the 9 special course, we carefully craft for you.</p>
                </div>
            </div>

        </div>

    </section>

    <!-- banner -->
    <section class="banner">
        <div class="banner-content">
            <div class="banner-box">
                <div class="banner-img">
                    <img src="assets/banner2.webp" alt="">

                    <div class="banner-in">
                        <h5>Food Times</h5>
                        <h3>Delicious Foods</h3>
                        <a href="/book" class="b-btnn">BOOK NOW</a>

                    </div>

                </div>
            </div>
        </div>

    </section>

    <!-- seller -->
    <section>
        <div class="seller">
            <div class="center-text">
                <h6>Food Items Popular Dishes</h6>
                <h2>Best Seller</h2>
            </div>

            <div class="seller-content">
                <div class="row">
                    <div class="row-img">
                        <img src="assets/s1.jpeg" alt="">
                    </div>
                    <h5>Crab Cakes pair with Apéritif </h5>
                    <h6>20.00$</h6>

                    <div class="s-btn">
                        <a href="/book">
                            Add to cart
                            <i class="ri-shopping-cart-line"></i>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="row-img">
                        <img src="assets/s2.jpeg" alt="">
                    </div>
                    <h5>Lamb Skewer</h5>
                    <h6>33.00$</h6>

                    <div class="s-btn">
                        <a href="/book">
                            Add to cart
                            <i class="ri-shopping-cart-line"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="row-img">
                        <img src="assets/s3.jpeg" alt="">
                    </div>
                    <h5>Apéritif</h5>
                    <h6>8.00$</h6>

                    <div class="s-btn">
                        <a href="/book">
                            Add to cart
                            <i class="ri-shopping-cart-line"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="row-img">
                        <img src="assets/s4.jpeg" alt="">
                    </div>
                    <h5>Caesar Salad </h5>
                    <h6>16.00$</h6>

                    <div class="s-btn">
                        <a href="/book">
                            Add to cart
                            <i class="ri-shopping-cart-line"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="row-img">
                        <img src="assets/s5.jpeg" alt="">
                    </div>
                    <h5>Celar plank Salmon</h5>
                    <h6>29.00$</h6>

                    <div class="s-btn">
                        <a href="/book">
                            Add to cart
                            <i class="ri-shopping-cart-line"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="row-img">
                        <img src="assets/s6.jpeg" alt="">
                    </div>
                    <h5>Pork Chops with Fig and Grape Agrodolce</h5>
                    <h6>69.00$</h6>

                    <div class="s-btn">
                        <a href="/book">
                            Add to cart
                            <i class="ri-shopping-cart-line"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <diva class="row-img">
                        <img src="assets/s7.jpeg" alt="">
                    </diva>
                    <h5>Seared Scallops Lemon Pan Sauce</h5>
                    <h6>23.00$</h6>

                    <div class="s-btn">
                        <a href="/book">
                            Add to cart
                            <i class="ri-shopping-cart-line"></i>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="row-img">
                        <img src="assets/s8.jpeg" alt="">
                    </div>
                    <h5>English Custard</h5>
                    <h6>7.00$</h6>

                    <div class="s-btn">
                        <a href="/book">
                            Add to cart
                            <i class="ri-shopping-cart-line"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- cta -->
    <section class="cta">
        <div class="cta-content">
            <h2>Enjoy The Delicious Tatse</h2>
            <p>when you're got health,you got everthing.</p>
            <a href="/book" class="cta-btn">BOOK NOW</a>
        </div>
    </section>

    <%- include('./../components/footer') %>
    
</body>

</html>